<header>
  <a href="http://xmatch.info" class="logo">xmatch.info</a>
  <ul class="user-login-menu">
    <li><a href="#">Login</a></li>
    <li><a href="#">Registro</a></li>
  </ul>
  <ul class="main-menu">
    <li><a href="#">¿Que?</a></li>
    <li><a href="#">Contacto</a></li>
  </ul>
  <form class="search" action="">
    <input type="text" placeholder="Buscar" />
    <input class="" name="submit" type="submit" value="Buscar" />
  </form>
</header>