<% content_for :head do %>
<% end %>
<header>
  <a href="/" class="logo">xmatch.info</a>
  <ul class="user-login-menu">
    <li><a href="#">Login</a></li>
    <li><a href="#">Registro</a></li>
  </ul>
  <ul class="main-menu">
    <li><a id="who" href="#">¿Que?</a></li>
    <li><a href="#">Contacto</a></li>
  </ul>
  <form class="search" action="">
    <input type="text" placeholder="Buscar" />
    <input class="" name="submit" type="submit" value="Buscar" />
  </form>
</header>


<%#Temporary message until we actually implement Devise or other type of user%>
<%#registration and authentication.%>
<div id="overlay"></div>
<div id="lightbox">
  <a href="#" id="close">Close</a>
  <p>We are sorry.</p>
  <p>We didn't have enough time during OpenData to complete the user
  management functions. However we will be working on this right after
  OpenData has ended. Thank you.</p>
</div>
<div id="who_info">
  <a href="#" id="close_who">Close</a>
  <p>xmatch.info es una herramienta para graficar datos de forma georeferenciado.</p>
  <p>Es resultado del <a href="http://opendata.mx/">OpenDataMx</a> para <a href="http://desarrollandoamerica.org/">Desarollando América Latina</a>. Fue hecho en 30 horas por un equipo de gente entusiasta que busca aportar sus habilidades para mejorar su sociedad.</p>
  <p>Mas info en <a href="mailto:mike@innku.com">mike@innku.com</a>.
</div>

