<div id='info_menu'>
  <div id='info_top'><span>cerrar x</span></div>
  <div class='item'>
    <h1>Compara qualquier dato de manera gráfica por región.<br /> Analiza, Cruza y Comparte.</h1>
    <div id='step'>
      <h2>¿Como?</h2>
    </div>
    <div>
      <ol>
        <li>1) Sube tu set de datos en excel o CSV. <%= image_tag('upload-btn.png') %></li>
        <li>2) Vizualiza en un mapa cada dato de tu set. <%= image_tag('conf-btn.png') %></li>
        <li>3) Genera cruces y velos en el mapa<br /><%= image_tag('cross-match.png', :style => "margin-top:8px;") %></li>
        <li>4) Compárte <%= image_tag('share-btn.png') %></li>
      </ol>
    </div>
  </div>
</div>

