<div id='share' class='item'>
  <div id="step">
    <h2>Comparte</h2>
  </div>
  <p>Copia este código y pegalo en tu sitio o blog.</p>
  <textarea>
    <iframe frameborder="0" scrolling="no" name="ifr" src="<%= embeded_url(@dataset) %>" style="width:800px;height:530px;"></iframe>
  </textarea>
</div>
