<div id='share' class='item'>
  <h2>Comparte</h2>
  Copia este código y pegalo en tu sitio o blog.
  <textarea>
    <iframe frameborder="0" scrolling="no" name="ifr" src="<%= embeded_url(@dataset) %>" style="width:800px;height:530px;"></iframe>
  </textarea>
</div>
