<div id='side_menu'>
  <ul>
    <li class="trigger" rel='new'><%= link_to("New", "#", :class => "new") %></li>
    <li class="trigger" rel='config'><%= link_to("Config", "#", :class => "config") %></li>
    <li class="trigger" rel='share'><%= link_to("Share", "#", :class => "share") %></li>
  </ul>
</div>
