<div id='new' class='item'>
  <div id='step' class='item'>
    <h2>Sube tu CSV.</h2>
  </div>
  <div id='action'>
    <%= render 'uploaded_files/form'%>
  </div>
  <div id='loader'>
    <%= image_tag 'ajax-loader.gif' %>
  </div>
  <p>Por ahora solo funciona con información y estados Mexicanos. <a href="/datos_xmatch.csv">Descarga un archivo CSV demo.</q></p>
</div>
