/* 

Main Colors 
Orange: #f15a29
Grey: #929597 

*/

html, body {
  background-color: #ffffff;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #404040;
}

a {
  color: #929597;
}

.container {
  width: 100%;
  height: 100%;
}

.popover {
	display: none;
	background: transparent url('popover.png') no-repeat 0 0;
	position: absolute;
	left: 100px;
	top: 100px;
	width: 108px;
	height: 79px;
}

.popover #popoverLabel {
	padding: 20px 0 0 0;
	font-size: 16px;
  font-weight: bold;
	color: #ececec;
	text-align: center;
}


/*** Call to action ***/
.call-to-action {
	background: transparent url(action-bkg.png) no-repeat 0 0;
	position: absolute;
  left: -1000px;
  bottom: 40px;
	width: 280px;
	height: 180px;
	padding: 10px;
	line-height: 30px;
	font-size: 16px;
	color: #5f5f5f;	
}
.call-to-action ol {
  padding-left: 40px;
}
.call-to-action li {
	list-style: decimal;
	line-height: 30px;
}
.call-to-action a.button {
	background: transparent url(action-btn.png) 0 0 no-repeat;
	width: 261px;
	height: 58px;
	margin-left: 8px;
	display: block;
	color: white;
}
.call-to-action a.button:hover {
	background: transparent url(action-btn.png) 1 1 no-repeat;
}
.call-to-action .close {
  float: right;
  top: 0;
  right: 0;
  font-size: 12px;
  padding-top: -10px;
  text-decoration: none;
}

header {
  display: block;
  height: 50px;
  width: 100%;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fff), to(#f6f6f6));
  background-image: -moz-linear-gradient(top, #fff, #f6f6f6);
  background-image: -ms-linear-gradient(top, #fff, #f6f6f6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f6f6f6));
  background-image: -webkit-linear-gradient(top, #fff, #f6f6f6);
  background-image: -o-linear-gradient(top, #fff, #f6f6f6);
  background-image: linear-gradient(top, #fff, #f6f6f6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f6f6f6', GradientType=0);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	z-index: 10000;
	position: absolute;
}

header a.logo {
  text-indent: -20000px;
	width: 180px;
	height: 50px;
	display: inline-block;
	float: left;
	background: transparent url('logo.png') no-repeat 10px center;
}

header ul.main-menu {
  float: right;
  display: block;
  margin: 18px 10px 0 0;
}

header ul.main-menu li {
  display: block;
  float: left;
  margin-right: 10px;
}

header ul.main-menu li a {
  height: 20px;
  padding: 8px;
  background-color: #5f5f5f;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1), 0 1px 1px rgba(255,255,255,1);
  -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1), 0 1px 1px rgba(255,255,255,1);
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1), 0 1px 1px rgba(255,255,255,1);
}

header ul.main-menu li a:hover {
  background-color: #2961e7;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#6187ed), to(#2961e7));
  background-image: -moz-linear-gradient(top, #6187ed, #2961e7);
  background-image: -ms-linear-gradient(top, #6187ed, #2961e7);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6187ed), color-stop(100%, #2961e7));
  background-image: -webkit-linear-gradient(top, #6187ed, #2961e7);
  background-image: -o-linear-gradient(top, #6187ed, #2961e7);
  background-image: linear-gradient(top, #6187ed, #2961e7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6187ed', endColorstr='#2961e7', GradientType=0);
  color: #fff;
}

header ul.main-menu li a:active {
  background-color: #2961e7;
	-webkit-box-shadow: inset 0 1px 2px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 2px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
}

header ul.user-login-menu {
  float: right;
  padding-top: 18px;
}

header ul.user-login-menu li {
  display: block;
  float: left;
  margin-right: 20px;
}

header ul.user-login-menu li a {
  color: #929597;
  text-decoration: none;
}

header ul.user-login-menu li a:hover {
  color: #929597;
  text-decoration: underline;
}

header form.search {
  display: inline-block;
  float: right;
  padding: 8px 0 0 80px;
  margin-right: 10px;
}

header form.search input[type=text] {
  display: inline-block;
  width: 210px;
  height: 24px;
  padding: 4px;
  font-size: 16px;
  line-height: 18px;
  color: #ccc;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

header form.search input[type=text]:focus {
  outline: none;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

header form.search input[type=submit] {
  height: 32px;
  width: 60px;
  line-height: 30px;
  cursor: pointer;
  text-indent: -9999px;
  border: none;
  background: transparent url('sprites.png') no-repeat 0 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

header form.search input[type=submit]:hover {
  background: transparent url('sprites.png') no-repeat 0 -32px;
}

header form.search input[type=submit]:active {
  background: transparent url('sprites.png') no-repeat 0 -64px;
}

footer {
  display: block;
  height: 25px;
  padding-top: 5px;
  width: 100%;
  z-index: 10000;
  position: absolute;
  bottom:0;
  background-color:#fff;
  text-align: center;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fff), to(#f6f6f6));
  background-image: -moz-linear-gradient(top, #fff, #f6f6f6);
  background-image: -ms-linear-gradient(top, #fff, #f6f6f6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f6f6f6));
  background-image: -webkit-linear-gradient(top, #fff, #f6f6f6);
  background-image: -o-linear-gradient(top, #fff, #f6f6f6);
  background-image: linear-gradient(top, #fff, #f6f6f6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f6f6f6', GradientType=0);
  -webkit-box-shadow: -1px -3px 6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: -1px -3px 6px rgba(0, 0, 0, 0.2);
	box-shadow: -1px -3px 6px rgba(0, 0, 0, 0.2);
}


#overlay {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: #666;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 10000;
}

#lightbox, #who_info {
  padding: 3px;
  width: 510px;
  position: absolute;
  top: 20%;
  left: 50%;
  margin: 0 0 0 -255px;
  background: #fff;
  display: none;
  z-index: 10000;
  font-size: 1.3em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

  a#close, a#close_who {
    display:inline-block;
    width:100%;
    text-align: right;
  }

  p {
    width: 80%;
    margin: 0 auto;
    padding: 5px 0;
    font-style: italic;
  }
}

