// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#side_menu{
  background:#ddd;
  padding:5px;
  width:50px;
  position:fixed;
  top:200px;
  right:0px;
  z-index:1;
  background:#444;
}
#side_menu ul{
  list-style:none;
  padding:0;
}

#new{
  background:#ddd;
  padding:0px;
  #step{
    background:#f90;
    padding:10px;
    margin-bottom:10px;
  }
  #action{
    padding:10px;
  }
  #loader{
    float:right;
  }


}
#menu{
  background:#ddd;
  padding:0px;
  width:300px;
  position:fixed;
  top:200px;
  right:200px;
  z-index:1;
}
#menu ul{
  list-style:none;
  padding:0;
}

#menu li{
  padding:10px;
}
#menu li:hover{
  background:#fff;
}
